.todo {
  width: 40%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 15px;
  background-color: #f2f2d6;
  border-radius: 6px;
}

.icon {
}

.text {
  text-align: center;
  color: #333333;
  font-size: 18px;
}
